/* Styles for the genre filter, logo, text & smaller screens */
.genre-filter {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 8px;
    border-bottom: 1px solid #f0f0f0;
    padding: 6px;
    background-color: black;
}

.genre-filter button {
    margin: 4px;
    padding: 8px;
    width: auto;
    height: auto;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    background-color: #f0f0f0;
    cursor: pointer;
    min-width: 70px;
    transition: background-color 0.3s, color 0.3s;
}

.genre-filter button.active {
    background-color: #ff6600 !important;
    color: white !important;
}

.genre-filter button:hover {
    background-color: #ff6600;
    color: white;
}

.logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    border: 1px solid #f0f0f0;
}

.logo-text {
    font-family: "Oswald", sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    margin: 10px 16px 10px 6px;
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
    .genre-filter {
        justify-content: flex-start;
    }

    .genre-filter button {
        font-size: 12px;
        padding: 6px;
        margin: 2px;
        background-color: #f0f0f0;
    }

    .logo {
        width: 35px;
        height: 35px;
    }

    .logo-text {
        font-size: 20px;
        margin: 10px 8px 10px 4px;
    }
}

@media (max-width: 480px) {
    .genre-filter button {
        font-size: 10px;
        padding: 4px;
        margin: 2px;
        background-color: #f0f0f0;
    }

    .logo {
        width: 30px;
        height: 30px;
    }

    .logo-text {
        font-size: 18px;
        margin: 8px 6px 8px 2px;
    }
}