<div class="movie-card">
    <img [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" alt="{{ movie.title }}">
    <div class="movie-details">
        <div class="movie-title">{{ movie.title }}</div>
        <div class="fs-14px release-date"><strong>Release Date:</strong> {{ movie.release_date }}</div>
        <div class="fs-14px imdb-rating"><strong>IMDb: </strong>{{ movie.vote_average | number:'1.1-1' }} / 10</div>
        <p class="fs-12px">{{ movie.overview | slice: 0:100 }}...
            <a>Read More</a>
        </p>
    </div>
</div>